* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --color1: #fce138;
    --color2: #024e76;
    --color3: #39a6b2;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }

  /* HEADER STYLES */

  header {
    display: block;
    padding-bottom: 90px;
    text-align: center;
  }

  header div {
    float: right;
    text-align: right;
    display: inline;
  }

  header div a {
    display: inline;
  }

  header div a:hover {
    font-weight: bold;
    text-shadow: rgb(37, 37, 37);
  }

  header nav ul {
    float: left;
    text-align: left;
    display: inline;
  }

  header nav ul li:hover {
    font-weight: bold;
    text-shadow: rgb(37, 37, 37);
  }

  /* PROJECTS STYLES */
  .projects {
    display: block;
    text-align: center;
  }

  .projects h2 {
    background-color: var(--color3);
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  .projects img {
    max-width: 400px;
    max-height: 200px;
    border: 3px solid var(--color1);
    border-radius: 5px;
  }

  .projects img:hover {
    opacity: 0.75;
    border-radius: 10px;
  }

   #run-buddy img {
    max-width: 1250px;
    max-height: 625px;
    text-align: center;
    border: 3px solid var(--color1);
    border-radius: 5px;
    /*margin-right: 110px;*/
  }

   #run-buddy img:hover {
    opacity: 0.75;
    border-radius: 10px;
   }

   #placeholder-project1, #placeholder-project2, #horiseon {
    padding: 10px;
    display: inline-block;
  }


  /* MEDIA QUERIES */

  @media screen  and (max-width: 1024px) {
    #run-buddy img {
        max-width: 1024px;
        max-height: 512px;
    }

  }

  @media screen  and (max-width: 768px) {
    #run-buddy img {
        max-width: 768px;
        max-height: 384px;
    }

  }

  @media screen  and (max-width: 600px) {
    #run-buddy img {
        max-width: 600px;
        max-height: 300px;
    }

  }

  @media screen  and (max-width: 480px) {
    #run-buddy img {
        max-width: 450px;
        max-height: 225px;
    }

  }