* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --color1: #fce138;
    --color2: #024e76;
    --color3: #39a6b2;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header nav {
  }

  .projects {
      text-align: center;
  }

  .projects img {
    max-width: 400px;
    max-height: 200px;
    border: 3px solid var(--color1);
    background-color: rgba(252, 225, 56, 0.8);
    border-radius: 5px;
  }

  .projects img:hover {
      opacity: 0.75;
      border-radius: 10px;
  }

   #run-buddy img {
    max-width: 1250px;
    max-height: 625px;
    text-align: center;
    border: 3px solid var(--color1);
    background-color: rgba(252, 225, 56, 0.8);
    border-radius: 5px;
  }

   #run-buddy img:hover {
       opacity: 0.75;
       border-radius: 10px;
   }

  #placeholder-project1, #placeholder-project2, #horiseon {
    padding: 10px;
    display: inline-block;
  }


  /* MEDIA QUERIES */

  @media screen  and (max-width: 1024px) {
    body {
        background-color: var(--color1);
    }

  }

  @media screen  and (max-width: 768px) {
    body {
        background-color: var(--color2);
    }
  }

  @media screen  and (max-width: 600px) {
    body{
        background-color: var(--color3);
    }
  }

  @media screen  and (max-width: 480px) {
    body {
        background-color: violet;
    }
  }